{% extends 'PartyPrivateBundle::base.html.twig' %}

{% set type = type ? type : '' %}

{% block title %}{{ type ~ ' Party' }}{% endblock %}

{% block content %}
    <h1>{{ type ~ ' Party' }}</h1>

    {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include 'PartyPrivateBundle:Common:DatePicker/date_picker_js.html.twig' with {'selector':'#party_bundle_privatebundle_party_date'} %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% include 'PartyPrivateBundle:Common:DatePicker/date_picker_css.html.twig' with {'selector':'#party_bundle_privatebundle_party_date'} %}
{% endblock %}
