{% extends 'PartyPrivateBundle::base.html.twig' %}

{% block title %}{{ 'Edit Party' }}{% endblock %}

{% block content %}
    <h1>{{ 'Edit Party'  }}</h1>

    {{ form_start(edit_form, {attr: {novalidate: 'novalidate'}}) }}
    {{ form_end(edit_form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include 'PartyPrivateBundle:Common:DatePicker/date_picker_js.html.twig' with {'selector':'#party_bundle_privatebundle_party_date'} %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% include 'PartyPrivateBundle:Common:DatePicker/date_picker_css.html.twig' with {'selector':'#party_bundle_privatebundle_party_date'} %}
{% endblock %}
