{% extends 'PartyPublicBundle::base.html.twig' %}

{% block title %}{{ 'Attend Party!' }}{% endblock %}

{% block content %}
    <h1>{{ 'Attend Party!' }}</h1>

    <form action="{{ path('attendee_create', { 'partyId' : partyId }) }}" method="POST" role="form">
        {{ form_row(form.name)}}
        {{ form_row(form.email)}}
        {{ form_rest(form) }}
    </form>

{% endblock %}
